<table class="table">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Продукт</th>
        <th scope="col">Количество</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Удалить</th>
    </tr>
    </thead>
    <tbody>
    {% for item in basket %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.product }}</td>
            <td>
                <input type="number" name="{{ item.pk }}"
                       value="{{ item.quantity }}" min="0">
            </td>
            <td>{{ item.product_cost }}</td>
            <td>
                <a class="btn btn-round"
                   href="{% url 'basket:remove' item.pk %}">
                    Удалить
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if basket %}
    <div class="basket_summary mb-5">
        В корзине {{ basket.0.total_quantity }}
        товаров стоимостью {{ basket.0.total_cost|floatformat:'2g' }} тг.
    </div>
{% endif %}