{% extends 'layout/base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/flex-slider.css' %}">
{% endblock %}

{% block content %}

    <!-- Page Content -->
    <!-- Single Starts Here -->
    <div class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>Страница товара</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-slider">
                        <div id="slider" class="flexslider">
                            {% if prod.image %}
                                <img src="{{ prod.image.url }}"
                                     class="img-fluid"
                                     alt="{{ prod.name }}"
                                     title="{{ prod.name }}">
                            {% else %}
                                <img src="{% static 'assets/images/default.png' %}"
                                     alt="Нет картинки">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-content">
                        <h4>{{ prod.name }}</h4>
                        <h6>{{ prod.price }}</h6>
                        <p>{{ prod.description }}</p>
                        <span>{{ prod.quantity }} шт.</span><br>

                        <button class="btn btn-primary">
                            <a href="{% url 'basket:add' prod.pk %}"
                               class="text-light">Купить</a>
                        </button>

                        <div class="down-content">
                            <div class="categories">
                                <h6>Категория: <span>
                    <a href="#">{{ prod.category }}</a>
                    </span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Page Ends Here -->


    <!-- Similar Starts Here -->
    <div class="featured-items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>Вам могут понравиться:</h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">

                        {% for prod in same_prods %}
                            <a href="{% url 'products:product' prod.pk %}">
                                <div class="featured-item">
                                    {% if prod.image %}
                                        <img src="{{ prod.image.url }}"
                                             alt="{{ prod.name }}">
                                    {% else %}
                                        <img src="{% static 'assets/images/default.png' %}"
                                             alt="Нет картинки">
                                    {% endif %}
                                    <h4>{{ prod.name }}</h4>
                                    <h6>${{ prod.price|floatformat:'0g' }}</h6>
                                </div>
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Similar Ends Here -->

{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/flex-slider.js' %}"></script>
{% endblock %}