{% extends 'layout/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}

{% block title %} &mdash; {{ title|capfirst }}{% endblock %}

{% block content %}

    <!-- Page Content -->
    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
                {% if category %}
                    <h1>Продукты: {{ category }}</h1>
                {% else %}
                    <h1>Продукты</h1>
                {% endif %}
            </div>
          </div>

        {% include 'includes/inc_category_menu.html' %}

        </div>
      </div>
    </div>
  
    <div class="featured container no-gutter">
        <div class="row posts">
            {% for prod in prods %}
            <div id="{{ prod.pk }}" class="item new col-md-4">
              <a href="{% url 'products:product' prod.pk %}">
                <div class="featured-item">
                    {% if prod.image %}
                        <img src="{{ prod.image.url }}"
                             alt="{{ prod.name }}">
                    {% else %}
                        <img src="{% static 'assets/images/default.png' %}"
                             alt="Нет картинки">
                    {% endif %}
                  <h4>{{ prod.name }}</h4>
                  <h6>{{ prod.price }}</h6>
                </div>
              </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Featred Page Ends Here -->

{% endblock %}